<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app" class="">
    <section class="section">
      <div class="container">
        <h1 class="title">
          NILM
        </h1>
        <p class="subtitle is-size-7">
          <strong>Nonintrusive load monitoring</strong>
        </p>
        
        <div class="columns">
          <div class="column is-narrow">

            <!-- lista de cargas -->
            
            <div v-if="!loads.length">Nenhuma carga</div>
            <!-- <div v-if="loads.length" class="title is-6">Cargas:</div> -->
            <table class="table is-striped" v-if="loads.length">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Situação</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="load in loads">
                  <td>{{load.name}}</td>
                  <td>
                    <div class="field">
                      <div class="control">
                        <label class="checkbox">
                          <input type="checkbox" v-model="load.isOn"> {{load.isOn ? 'on' : 'off'}}
                        </label>
                      </div>
                    </div>
                  </td>


                </tr>

              </tbody>
            </table>

            
          </div>
          <div class="column">
            <!-- adiciona cargas -->
            
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="newName" placeholder="nome da carga">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <a class="button is-link" @click="newLoad">adicionar carga</a>
              </div>
            </div>

            <hr>

            <!-- fotografa estado -->

            <div class="field" v-if="loads.length">
              <div class="control">
                <a class="button" @click="saveState">registrar estado</a>
                <a v-if="savedStates.length > 1" class="button is-primary" @click="train">treinar</a>
              </div>

              <p>
                estados para treinamento: {{savedStates.length}}
              </p>
            </div>

          </div>
        </div>


      </div>
    </section>

    <div>
      <canvas ref="spectrum" width="200" height="60"></canvas>
    </div>

    {{prediction}}

  </div>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>